<div class="mt-5">
  <div class="row">
    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
      <div class="content">
        <div class="card">
            <div class="firstinfo"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" />
                <div class="profileinfo">
                    <h1>John Doe</h1>
                    <h3>Swift developer</h3>
                    <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                </div>
            </div>
        </div>
        <div class="btn-container d-flex justify-content-center">
          <button class="btn btn-lg btn-primary mr-1">
            <i class="fa fa-camera"></i>
            Pick Image
          </button>
          <button class="btn btn-lg btn-primary ml-1">
            Upload Image
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
