<div class="card">
    <div class="card-body">
        <div class="action mb-4">

            <hr class="divider">
            <div class="row d-flex justify-content-end">
                <div class="col-3 col-md-2">
                    <button onclick="window.print()" class="btn btn-primary w-100">Print</button>
                </div>
                <div class="col-3 col-md-2">
                    <!-- (click)="exportTOExcel()" -->
                    <button class="btn btn-primary w-100">Excel</button>
                </div>
            </div>
        </div>
        <h4 class="card-title">
            <span class="lstick"></span>Actual File Data
        </h4>
        <div class="table-responsive">
            <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
                <thead>
                    <tr>
                        <th *ngFor="let columnName of backendData">{{columnName}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let columnName of backendData2">
                        <td *ngFor="let col of columnName">{{col}}</td>
                        <!-- <td>{{columnName}} </td> -->

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>