<div class="card">
  <div class="card-body">
    <div class="action mb-4">
      <div class="row mb-4">
        <div class="col-5 col-md-2">
          <button class="btn btn-primary w-100" routerLink="/component/agent/add-agent">Add New</button>
        </div>
        <div class="col-7 col-md-4">
          <input type="text" placeholder="Search" class="form-control">
        </div>
      </div>
      <hr class="divider">
    </div>
    <h4 class="card-title">
      <span class="lstick"></span>Agents Detail
    </h4>
    <div class="table-responsive">
      <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
        <thead>
          <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Conatct #</th>
            <th>Location</th>
            <th>Email Address</th>
            <th>Access</th>
            <th>Status</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
