<div class="card">
  <div class="card-body">
    <div class="action mb-4">
      <div class="row mb-4">
        <div class="col-8 col-sm-4 col-md-3 offset-2 offset-sm-0 mb-1">
          <button class="btn btn-primary w-100" routerLink="/component/inventory/add-inventory">Add New</button>
        </div>
        <div class="col-8 col-sm-4 col-md-3 offset-2 offset-sm-0 mb-1">
          <button class="btn btn-primary w-100">Filters</button>
        </div>
        <div class="col-8 col-sm-4 col-md-3 offset-2 offset-sm-0 mb-1">
          <button class="btn btn-primary w-100">Select Agent</button>
        </div>
      </div>
      <hr class="divider">
      <div class="row d-flex justify-content-end">
        <div class="col-6 col-md-4">
          <input type="text" placeholder="Search" class="form-control">
        </div>
        <div class="col-3 col-md-2">
          <button class="btn btn-primary w-100">Print</button>
        </div>
        <div class="col-3 col-md-2">
          <button class="btn btn-primary w-100">Excel</button>
        </div>
      </div>
    </div>
    <h4 class="card-title">
      <span class="lstick"></span>Inventory Detail
    </h4>
    <div class="table-responsive">
      <table class="table vm no-th-brd pro-of-month mb-0 v-middle">
        <thead>
          <tr>
            <th>ID</th>
            <th>Location</th>
            <th>Area</th>
            <th>Type</th>
            <th>Demand</th>
            <th>Purpose</th>
            <th>Beds</th>
            <th>Client Details</th>
            <th>Agent Assigned</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>asdasd</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>asdasd</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dassdasdsa</td>
            <td>asdasd</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>Babar</td>
            <td>03420493294</td>
            <td>sadasdas</td>
            <td>sadassdassas</td>
            <td>dasdsadsa</td>
            <td>dassdasdsa</td>
            <td>dassdasdsa</td>
            <td>asdasd</td>
            <td>
              <div ngbDropdown class="d-inline-block">
                <button class="btn btn-warning text-white" id="action" ngbDropdownToggle>Action</button>
                <div ngbDropdownMenu aria-labelledby="action" style="box-shadow: 0px 0px 10px 1px rgba(204,204,204,1);">
                  <button ngbDropdownItem>Edit</button>
                  <button ngbDropdownItem>Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
