<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title mb-4">
          <span class="lstick"></span>Add New Lead
        </h4>
        <hr class="divider">
        <form>
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>User ID</label>
                <input
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Client</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Type</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Purpose</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Property Type</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Property Number</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Area</label>
                <input
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Location</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Demand</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Phone Number</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Comment</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Assigned To</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Admin Status</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="form-group">
                <label>Agent Status</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="form-group">
                <label>Added On</label>
                <input
                  type="text"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row mt-4">
              <div class="col">
                <div class="form-group">
                  <button type="submit" class="btn btn-primary w-100">
                    Save Agent
                  </button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
