<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">
                    <span class="lstick"></span>Login!
                </h4>
                <hr class="divider">
                <form>
                    <div class="row">
                        <div class="col-7">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-2">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary w-100">
                      Login
                    </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>