<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="jumbotron-background">
        <!-- <img src="" class="img-responsive" width="100%" alt="Frequently Asked Questions" /> -->
    </div>

    <div class="container ">
        <h1 class="display-4 text-center text-white ">FREQUENTLY ASKED QUESTIONS (FAQ)</h1>

        <hr class="my-2" />
    </div>
    <!-- /.container -->
</div>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                1. WHAT IS ASASA.COM?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                Asasa.com is digital property portal operating in Pakistan. Our main aim is to bring property closer to customers so that you can focus your mind to make the tough decisions rather than being tired out by the hassle of site visiting. Asasa.com not only
                lets you browse through available and prime real-estate properties, but you can also visit the site at the convenience of your own house through a 360ᵒ tour.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                2. What payment options are available?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                You can make payments by depositing cash, cheque or wire/transfer the funds directly into our bank account. Wiring instructions and bank account details will be provided at the time of payment.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                3. What are users (agency staff)?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                As an approved agent on Asasa.com, you can add and manage all of your agency staff, teams, clients and leads effortlessly with the help of various management tools available at your control panel under the “Agency Staff” tab. You can add new users and
                allocate different rights and privileges to each one of them. These users can log in (as your agency staff) from their different login IDs and perform the tasks assigned by you e.g. contacting clients, managing leads and sales, etc.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                4. What are teams?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                Teams are a number of your agency staff working as a group to perform particular tasks assigned by you as the agency owner or team administrator. As an example if you have a total of 10 users listed as your agency staff, you can divide them in two different
                teams such as sales and rentals team consisting of 5 members each. You can allocate staff to these teams according to their qualifications, experience or credentials, where each of these teams will be responsible for their specific tasks
                related to listings, follow-ups and inquiries etc on Asasa.com. Remember that a particular staff can be a member of one team at a time and cannot exist simultaneously in multiple teams.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                5. What is a lead?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                A lead (also known as sales/rental-lead) is a message or inquiry received from a potential customer that may help you to convert that person (or business) into a sales’ prospect and eventually generate sales. In short a lead is the first step towards
                making actual sales. At ASASA you will be getting a steady stream of inquiries via phone and e-mails (sent by those who are interested in buying or renting the properties you’ve listed at ASASA), you can save these inquiries as leads and
                work on them to lure these potential customers into buying or renting from you.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                6. What is a client?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                Clients are your customers or people interested in your property and in general are of two types. The first type is one who has already dealt with you in the past i.e. an existing customer and the second type is a person who can be a potential customer
                and has contacted you via your listing at ASASA.
            </p>
        </article>
    </div>
</section>