<div class="jumbotron jumbotron-fluid bg-dark">
    <div class="jumbotron-background">
        <!-- <img src="" class="img-responsive" width="100%" alt="Frequently Asked Questions" /> -->
    </div>

    <div class="container ">
        <h1 class="display-4 text-center text-white ">FREQUENTLY ASKED QUESTIONS</h1>

        <hr class="my-2" />
    </div>
    <!-- /.container -->
</div>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                1. What is machine learning?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                Machine-learning algorithms use statistics to find patterns in massive* amounts of data. And data, here, encompasses a lot of things—numbers, words, images, clicks, what have you. If it can be digitally stored, it can be fed into a machine-learning algorithm.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
        <article class="left">
            <h4 style="color:#25bda4">
                <!-- <img src="assets/images/question.svg" width="35" alt="Questions" />  -->
                2. When should you use machine learning?
            </h4>
            <p style="margin-left: 40px;padding-top: 5px">
                <!-- <img src="assets/images/answer.png" width="35" alt="Answers" />  -->
                Machine learning is typically used for projects that involve predicting an output or uncovering trends. A limited body of data is used to help the machines learn patterns that they can later use to make a correct determination on new input data. Common algorithms used in machine learning include linear regression, decision trees, support vector machines (SVMs), naïve Bayes, discriminant analysis, neural networks and ensemble methods.
            </p>
        </article>
    </div>
</section>
<section class="container mt20 about-us">
    <div class="aboutus-inner" style=" margin-top: 10px">
       
    </div>
</section>