<div class="container-fluid">
    <br><br>
    <h1 style="text-align:center;"><b>Visualizations</b></h1>

    <form>
        <div class="row">
            <div class="col">
                <h2>Select predictor</h2>
                <div class="col-3 btn2">
                    <br>

                    <ng-select class="ng-select" [items]="backendData" bindLabel="year" bindValue="year" placeholder="Select predictor" (change)="setName1($event)">
                    </ng-select>
                    <!-- <button (click)="setName1(data)" class="btn btn-primary" *ngFor="let data of backendData">{{data}}</button> -->
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <h2>Select response</h2>
                <div class="col-3 btn2">
                    <br>

                    <ng-select class="ng-select" [items]="backendData" bindLabel="year" bindValue="year" placeholder="Years to Predict" (change)="setName2($event)">
                    </ng-select>
                </div>
            </div>
        </div>
        <br><br>
        <input class="btn btn-primary" type="submit" (click)="sendData()" value="Visualize">
    </form>

    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <h4>Choose a visual</h4>
        </div>
        <!-- <div class="form-group col-4">
            <div class="input-group">


            </div>
        </div> -->
        <div class="col-12">
            <button class="btn btn-primary" (click)="checkChart('bar')">Bar Chart</button>
            <button class="btn btn-primary" (click)="checkChart('doughnut')">Doughnut Chart</button>
            <button class="btn btn-primary" (click)="checkChart('pie')">Pie Chart</button>
            <button class="btn btn-primary" (click)="checkChart('radar')">Radar Chart</button>
            <button class="btn btn-primary" (click)="checkChart('line')">Line Chart</button>
            <button class="btn btn-primary" (click)="checkChart('polar')">Polar Chart</button>
            <button class="btn btn-primary" (click)="checkChart('bubble')">Bubble Chart</button>

        </div>
        <ng-select class="ng-select predict-select pull-right" [items]="yearsOfPrediction" bindLabel="year" bindValue="year" placeholder="Years to Predict">
        </ng-select>

    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick"></span>{{chartname}}</h4>
                    <div>

                        <div class="" *ngIf="[chartname] == 'bar'">
                            <!-- <h1><b>Bar Chart</b></h1><br><br> -->
                            <div>
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
                            </div>
                        </div>

                        <div class="" *ngIf="[chartname] == 'line'">
                            <!-- Line chart -->
                            <!-- <h1><b>Line Chart</b></h1><br><br> -->
                            <div class="">
                                <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType"></canvas>
                            </div>
                        </div>
                        <!-- </div>
    <div class="row"> -->
                        <div class="" *ngIf="[chartname] == 'bubble'">
                            <!-- Bubble chart -->
                            <!-- <h1><b>Bubble Chart</b></h1><br><br> -->
                            <div class="">
                                <canvas baseChart [data]="bubbleChartData" [labels]="bubbleChartLabels" [chartType]="bubbleChartType"></canvas>
                            </div>
                        </div>
                        <!-- </div>
    <div class="row"> -->
                        <div class="" *ngIf="[chartname] == 'polar'">
                            <!-- Polar chart -->
                            <!-- <h1><b>Polar Chart</b></h1><br><br> -->
                            <div>
                                <canvas baseChart [data]="polarChartData" [labels]="polarChartLabels" [chartType]="polarChartType"></canvas>
                            </div>
                        </div>
                        <!-- </div>
    <div class="row"> -->
                        <div class="" *ngIf="[chartname] == 'doughnut'">
                            <!-- Doughnut chart -->
                            <!-- <h1><b>Doughnut Chart</b></h1><br><br> -->
                            <div>
                                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
                            </div>
                        </div>
                        <!-- </div>

    <div class="row"> -->
                        <div class="" *ngIf="[chartname] == 'pie'">
                            <!-- Pie chart -->
                            <!-- <h1><b>Pie Chart</b></h1><br><br> -->
                            <div>
                                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
                            </div>
                        </div>
                        <!-- </div>
    <div class="row"> -->
                        <div class="" *ngIf="[chartname] == 'radar'">
                            <!-- Radar chart -->
                            <!-- <h1><b>Radar Chart</b></h1><br><br> -->
                            <div>
                                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
                            </div>
                        </div>
                    </div>
                    <table class="table vm font-14">
                        <tr>
                            <td class="b-0">Mobile</td>
                            <td class="text-right font-medium b-0">38.5%</td>
                        </tr>
                        <tr>
                            <td>Tablet</td>
                            <td class="text-right font-medium">30.8%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <!-- <div class="col-md-5 col-sm-6" *ngIf="barChartData.length>0 && [chartname] == 'bar'">
            <h1><b>Bar Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
            </div>
        </div> -->
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'line'">
            <!-- Line chart --><br><br>
            <h1><b>Line Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType"></canvas>
            </div>
        </div>
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'bubble'">
            <!-- Bubble chart --><br><br>
            <h1><b>Bubble Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [data]="bubbleChartData" [labels]="bubbleChartLabels" [chartType]="bubbleChartType"></canvas>
            </div>
        </div>
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'polar'">
            <!-- Polar chart --><br><br>
            <h1><b>Polar Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [data]="polarChartData" [labels]="polarChartLabels" [chartType]="polarChartType"></canvas>
            </div>
        </div>
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'doughnut'">
            <!-- Doughnut chart --><br><br>
            <h1><b>Doughnut Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"></canvas>
            </div>
        </div>
        <!-- </div>

    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'pie'">
            <!-- Pie chart --><br><br>
            <h1><b>Pie Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
            </div>
        </div>
        <!-- </div>
    <div class="row"> -->
        <div class="col-md-5 col-sm-6" *ngIf="[chartname] == 'radar'">
            <!-- Radar chart --><br><br>
            <h1><b>Radar Chart</b></h1><br><br>
            <div class="chart" style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [chartType]="radarChartType"></canvas>
            </div>
        </div>
    </div>
</div>